* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
 }

 body {
    background-color: #000f24;
    font-family: 'Ubuntu', sans-serif;
 }

 .nav {
    height: 60px;
    background-color: #000f24;
    padding: 6px 40px 6px 40px;
    display: flex;
    justify-content: center;
 }

 .nav-container {
    display: flex;
    max-width: 1200px;
    justify-content: space-between;
    width: 100%;
    align-items: center;
 }

 .links-container {
    display: flex;
    justify-content: space-between;
    gap: 24px;
    align-items: center;
}
 
.nav-link {
    font-size: 16px;
    color: #ffb818;
    text-decoration: none;
 }
 






.hero {
    display: flex;
    position: relative;
    align-items: center;
 }

.hero-container {
    display: flex;
    position: relative;
    max-width: 1200px;
    width: 100%;
}

.hero-heading {
    position: absolute;
    width: 400px;
    top: 370px;
    right: 0;
    bottom: 0;
    left: 300px;
}

.hero-heading-titulo {
   font-size: 70px;
   color: #cc3a91;
}

.hero-heading-descripcion {
   font-family: Verdana, Geneva, Tahoma, sans-serif;
   color: #EFEFED;
   
}

.foto {
   max-width: 30%;
   position: absolute;
   top: 160px;
   right: 0;
   bottom: 0;
   left: 60%;
   border-radius: 100%;
}