* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
 }

 body {
    background-color: #000f24;
    font-family: 'Ubuntu', sans-serif;
 }

 .nav {
    height: 60px;
    background-color: #000f24;
    padding: 6px 40px 6px 40px;
    display: flex;
    justify-content: center;
 }

 .nav-container {
    display: flex;
    max-width: 1200px;
    justify-content: space-between;
    width: 100%;
    align-items: center;
 }

 .links-container {
    display: flex;
    justify-content: space-between;
    gap: 24px;
    align-items: center;
}
 
.nav-link {
    font-size: 16px;
    color: #ffb818;
    text-decoration: none;
 }
 






.hero {
    display: flex;
    position: relative;
 }

.hero-container {
    display: flex;
    position: relative;
    max-width: 1200px;
    width: 100%;
}

.hero-heading {
    position: absolute;
    max-width: 900px;
    width: 400px;
    top: 320px;
    left: -200px;
}

.hero-heading-titulo {
   color: #cc3a91;
   font-size: 70%;
}